.body_background 
{
    background-image: url("https://i.ytimg.com/vi/Dg0IjOzopYU/maxresdefault.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
#invalid
{
  font-size:25px;
  font-weight:bold;
}
#heading_control{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin-top:15px;
	margin-bottom:20px;
}
#controls{
	max-width:400px;
	margin-left:450px;
	margin-bottom:20px;
	border-radius:20px;
}